# backend_test_homework
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Dev\backend_test_homework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
